.container {
  max-width: 600px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 640px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

h1 {
  margin-bottom: 20px;
  overflow-wrap: break-word;
  hyphens: auto;
}

p#emoji {
  font-size: 30px;
}

p {
  margin-bottom: 40px;
}

.icon:hover {
  cursor: pointer;
}

.icon.disabled {
  color: lightgray;
  cursor: auto
}

.signature {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signature .text {
  font-family: monospace;
  font-weight: 600;
  color: gray;
  font-size: 10px;
}

.signature a {
  line-height: 0;
}

span.avatar {
  display: inline-block;
  background-color: white;
  overflow: hidden;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 1px solid black;
}

.avatar img {
  height: 18px;
  width: 18px;
}
